@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Roboto&display=swap"); ul li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none !important;
}

.header_l li a {
  color: black;
  padding: 20px;
  margin-left: 20px;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  transition: all 0.5s ease 0s;
}

.header {
  min-height: 10px;
  max-height: 67px;
  background-color: aliceblue;
  width: 100%;
  position: sticky;
  z-index: 9999;
  top: 0;
}

.logo h1 {
  color: black;
  font-size: 30px;
  font-family: Roboto, sans-serif;
  margin-left: 40px;
  margin-top: 15px;
}

.logo {
  margin-top: 12px;
}

.header_l li a:hover {
  color: rgb(32, 175, 147);
}

.bg_image {
  background-image: url("/image/developer.svg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: right top -66px;
  background-size: 54%;
  overflow: hidden;
  background-color: rgb(249, 249, 249);
}

nav.primary-menu {
  margin-right: 30px;
}

.content h1 {
  font-size: 58px;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
}

.content p {
  color: rgb(32, 175, 147);
  font-size: 20px;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
}

.button {
  background-color: rgb(8, 70, 120);
  width: 115px;
  color: white;
  margin-bottom: 60px;
  text-align: center;
  padding: 9px;
  border-radius: 4px;
  margin-top: 50px !important;
}

.content h5 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container1 {
  width: 300px;
  background: white;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;
  position: relative;
  transition: all 0.5s ease 0s;
  margin-bottom: 40px;
  z-index:1 ;
}

.container1::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 0.5s ease 0s;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translate(0px, -141px);
}

.container1:hover::before {
  clip-path: ellipse(53% 36% at 50% 6%);
  background: rgb(165, 153, 233);
  transform: translate(0px, 0px);
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 26px auto auto;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.context {
  text-align: center;
  line-height: 34px;
  margin-top: 53px;
}

.context h1 {
  color: black;
  font-family: arial;
  font-size: 28px;
  margin-bottom: 21px;
  margin-top: 31px;
  line-height: 30px;
}

.context p {
  color: black;
  font-size: 22px;
  font-family: arial;
  margin-bottom: 57px;
}

.full_content {
  display: flex;
}

.team_section {
  margin-top: 70px;
  margin-bottom: 70px;
  position: relative;
}
.team_section h1::before{
  content: '';
  position: absolute;
  left: 36%;
  top: 68px;
  background: #ada4a4;
  width: 308px;
  height: 3px;
  border-radius: 29px;
}
.team_section h1{
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
}
section.about_secion {
  overflow: hidden;
  background: rgb(245, 244, 244);
  margin: 0px !important;
  position: relative;
}
.about_margin_bottom {
  margin-bottom: 89px;
}